<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionfetch20200504184328.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9d377b24-7c7c-409e-95d0-59a2d6744943/resourcegroups/rgr-currencyWindowsApp/providers/Microsoft.Web/sites/FunctionFetch20200504184328</ResourceId>
    <UserName>$FunctionFetch20200504184328</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionfetch20200504184328.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>