<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://scheduledfetch.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9d377b24-7c7c-409e-95d0-59a2d6744943/resourceGroups/currencyApplication/providers/Microsoft.Web/sites/ScheduledFetch</ResourceId>
    <ContainerResourceId>/subscriptions/9d377b24-7c7c-409e-95d0-59a2d6744943/resourceGroups/currencyApplication/providers/Microsoft.ContainerRegistry/registries/ScheduledFetch</ContainerResourceId>
    <ContainerResourceName>ScheduledFetch</ContainerResourceName>
    <Subscription>Visual Studio Enterprise – MPN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>scheduledfetch.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>